:root { font-family:'DM Sans','Segoe UI',sans-serif; color:#252534; background:#f7f8fc; font-synthesis:none; text-rendering:optimizeLegibility; -webkit-font-smoothing:antialiased }
body { margin:0 }
p { margin:0 }
